<!doctype html>

<head> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


<style>
.center {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 70px 0;
}
</style>

</head>


<body style="background-color:hsla(30,55%,75%);">

<div class = "center">
	<h1 style="font-size:200%;"> Home Page </h1>
	<br>
	<form action = 'sightings/'>
		<button type='submit'> View of Squirrels Sightings </button>
	</form>
	<br>
	<form action = 'map/'>
		<button type='submit'> View Squirrel Sightings on Map </button>
	</form>
	<br>
	<form action = 'sightings/stats/'>
		<button type = 'submit'> View Squirrel Stats </button>
	</form>
	<br>
	<br>
	<p>Distributed by Yuxuan Xia and Yangyi Zheng </p>

</div>

</body>
</html>













