<!doctype html>

<html>
	<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
        <title> Squirrel Stats </title>
<style>
.left {
  position: absolute;
  left: 40px;
  #width: 300px;
  padding: 10px;
}
</style>
         </head>

	 <form method = 'GET'>
		<h1> Squirrels Sightings Statistics </h1>

		<br>
		Total Counts:
		<ul>
			<li>There are {{total}} of squirrels in Central Park </li>
		</ul>
		<br>

		Age Stats:
		<ul>
                {% for item in ages %}
                <li> {{item.age}}:{{item.c}} </li>
                {% endfor %}
                </ul>
		<br>


		Fur color Stats:
		<ul>
                {% for item in colors %}
                <li> {{item.primary_fur_color}}:{{item.c}} </li>
                {% endfor %}
                </ul>
		<br>


		Location Stats:
		<ul>
		{% for item in locations %}
		<li> {{item.location}}:{{item.c}} </li>
		{% endfor %}
		<br>

		Shifts Stats:
		<ul>
		<ul>
                {% for item in shifts %}
		<li> {{item.shift}}:{{item.c}} </li>
		{% endfor %}
		</ul>
	</form>
	</body>
</html>












