<!doctype html>

<html>
	<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> 
        <title> Squirrel Stats </title>
<style>
.left {
  position: absolute;
  left: 40px;
  #width: 300px;
  padding: 10px;
}
</style>
         </head>

	 <form method = 'GET'>
		<h1> Squirrels Sightings Statistics </h1>

		<br>
		Total Counts:
		<ul>
			<li>There are {{total}} squirrels in Central Park </li>
		</ul>
		<br>

		Age Stats:
		<ul>
                	<li>There are {{juvenile_age}} juvenile squirrels in Central Park </li>
			<li>There are {{adult_age}} adult squirrels in Central Park </li>
                </ul>
		<br>

		Fur color Stats:
		<ul>
                	<li>There are {{fur_black}} black squirrels in Central Park </li>
			<li>There are {{fur_cinnamon}} cinnamon squirrels in Central Park </li>
			<li>There are {{fur_gray}} gray squirrels in Central Park </li>
                </ul>
		<br>


		Location Stats:
		<ul>
			<li>There are {{location_above}} squirrels are above ground </li>
			<li>There are {{location_ground}} squirrels are on the ground </li>
		</ul>
		<br>

		Shifts Stats:
		<ul>
                {% for item in shifts %}
		<li> {{item.shift}}:{{item.c}} </li>
		{% endfor %}
		</ul>
	</form>
	</body>
</html>












